php_flag magic_quotes_gpc off

php_value upload_max_fullsize 100M

AddDefaultCharset utf_8

DirectoryIndex index.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !favicon.ico

RewriteRule ^(.*) index.php